/* VARIABLES GLOBALES */
:root {
    --color_primario: #000;
    --color_primario_suave: #000;
    --color_blanco: #fff;
    --altura_header: 100px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONFIGURACIÓN LOGO */
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
}

/* CONFIGURACIÓN HEADER */
.header {
    display: flex;
    min-height: var(--altura_header);
    justify-content: space-between;
    background-color: var(--color_primario);
    align-items: center;
    padding: auto;
}

/* CONFIGURACIÓN CUERPO */
body{
    background-color: #fff;
    font-family: sans-serif;
}

/* CONFIGURACIÓN LINKS ETIQUETA "a" */
a{
    text-decoration: none;
}


/* CONFIGURACIÓN BARRA DE NAVEGACIÓN */
ol,ul{
    list-style: none;
}
.navbar{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}
.nav a{
    font-weight: 600;
}
nav a:hover{
    color: #6c6c6b;
}

/* CONFIGURACIÓN MENU HAMBURGUESA */
.menu_hamburguesa{
    display: none;
}
.menu_hamburguesa:checked + .ul_links {
    padding: 20px;
    height: auto;
}
.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
    position: var(--padding_right);
}
.ul_links {
    width: 30%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 70%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all .3s;
}
.link {
    font-size: auto;
    color: var(--color_blanco);
    font-weight: bold;
}

@media (min-width: 100%){
    .labe_hamburguesa {
        display: none;
    }
    .labe.busqueda{
        display: none;
    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }
    .link{
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }
}
/*GENERAL SECCIONES*/
section{
    margin: 10px;
}
/*BUSQUEDA*/
.busqueda{
    display: none;
}
.bi-search{
    color: var(--color_blanco);
    cursor: pointer;
}
/*SECCION CATEGORÍAS*/
.seccion1{
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color_blanco);
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.categorias{
    display: flex;
    background-color: var(--color_blanco);
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.logodesayunos img{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.logoplatof img{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.logosaludable img{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.logopostres img{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.logosnacks img{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
/*SECCION CUERPO*/
.seccion2{
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.tops{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
/*FOOTER*/
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 30px 30px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* EFECTO HOVER EN REDES SOCIALES */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}